.navbar{
    background-color: #000000 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 40px;
}
nav{
    font-family: Abang;
}
@font-face{
    font-family: Abang ;
    src: url(../assets/Abang.otf);
}
@font-face{
    font-family: Abrosia ;
    src: url(../assets/Abyssal\ Horrors.ttf);
}
header{
    font-family: Abrosia;
}
div.row{
    font-family: Abrosia;
}
h1{
    font-family: Abrosia;
}
body{
    background-color: darkgoldenrod;
}
h2{
    font-family: Abrosia;
}